.container{
    width: 750px;
    margin: 20px auto;
}
.img{
    width: 100%;
    margin-top: 10px;
    border: 1px solid lightgray;
    padding: 15px;
    border-radius: 13px;
}
.heading{
    width: 500px;
    text-align: center;
    margin: 20px auto;
}